@import 'tailwindcss';

.bg-material {
    @apply bg-[rgb(46,50,53)]
}
.bg-dark-material{
    @apply bg-[rgb(25,27,29)]
}

.cm-scroll {
    @apply overflow-auto
}
button {
    @apply shadow-md shadow-black
}
button:disabled {
    @apply shadow-none bg-[rgb(46,50,53)]
}
button:hover:disabled {
    @apply shadow-none bg-[rgb(46,50,53)]
}
/* guarantees the cm-editor is shorter than its parent */
#editor .cm-editor {
    height: 100%;
}